.linea{
background-color: $color2;
height: 0.25rem;
width: 100%;
display: block;
margin-bottom: 0.50rem;
margin-top: 0.50rem;
}

.galeriaDg{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    width: 95%;
    margin: auto;
    grid-gap: 0.25rem;
}

.galeriaDg img{
    width: 100%;
}

.galeriaDg img:hover{
    transform: scale(1.02);
    transition: 0.5s;
    filter: none;
    box-shadow: 5px 5px 5px 1px rgba(43, 42, 42, 0.774);
}